@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$blue-dark: #5C7197;
$blue-regular: #6386C2;
$blue-light: #729CE6;
$blue-deep-dark: #586680;
$base-color: #F4F4F4;
$body-color: #E5E5E5;
$primary-text:#676767;
