@import '_base';
.App-header {
    background-color: $body-color;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  aside{
      display: flex;
      flex-direction: column;
      background-color: $base-color;
      transform: translateY(10%);
      // height: 443px;
      li.active{
          svg {
              color:$blue-light;
          }
      }
      li {
          &:hover {
              cursor: pointer;
              color: $blue-dark;
          }
      }
  }
  svg.iconSize{
      width: 2rem !important;
      height: 5rem !important;
  }
  section#content {
      background-color: $base-color;
      transform: translateY(10%);
      height: 546px;
      overflow-y: scroll;
      font-family: 'Roboto', sans-serif;
      h1 {
          span{
              font-weight: bold;
              color:$blue-deep-dark;
          }
          color: $blue-regular;
          font-weight: 300;
      }
      p.age {
          color: $blue-light;
          font-weight: bold;
          font-style: italic;
      }
      p{
          color: $primary-text;
          font-size:14px;
          text-align: justify;
      }
      figure {
          position: relative;
          cursor: pointer;
          .detail {
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              height: 100%;
              width: 100%;
              opacity: 0;
              transition: .5s ease;
              background-color: rgba(0,0,0,0.7);
              .content{
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  -webkit-transform: translate(-50%, -50%);
                  -ms-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
                  p{
                      color:#FFF;
                      text-align: center;
                  }
                  p.title{
                      font-size:18px;
                  }
                  p.createwith {
                      background-color:$blue-regular;
                      padding: 2% 2%;
                      border-radius: 200px;
                  }
              }
              &:hover {
                  opacity: 1;
              }
          }
          &:hover {
              opacity: 1;
          }
      }
  }
  section.wrap-avatar{
      display: inline-block;
      position: relative;
      height: 550px;
      .avatar {
          background-size: 100%;
          height: 115%;
          background-position-y: -104px;
          background-repeat: no-repeat;
          .contact{
              background-image: linear-gradient(-6deg, rgba(255, 255, 255, 0.7), white);
              color:$blue-deep-dark;
              p.name {
                  font-weight: bold;
                  font-size: 24px;
              }
              #mail{
                  font-size:12px;
              }
              text-align: center;
              font-family: 'Poppins', sans-serif;
              position: absolute;
              bottom: -14%;
              width: 100%;
              a{
                  text-decoration: none;
                  .iconLink{
                      color:$primary-text;
                      &:hover{
                          color: $blue-light
                      }
                  }
              }
          }
      }
  }
  section#education {
      .eduPeriod {
          color: $blue-regular;
          font-weight: bold;
      }
      .eduTitle {
          font-size:18px;
      }
  }
  section#experiences {
    article {
      figure{
          width:100px;
      }
      .expContent{
        p.expTitle{
          font-size:18px;
        }
        svg.iconSize{
            width: 18px !important;
            height: auto !important;
        }
      }
    }
  }
}